<script src="/javascripts/show.js"> </script>

<div data-role="page" id="page1">

        <div data-theme="d" data-role="header">
                <a data-ajax="false" data-role="button" data-transition="fade" data-theme="c" href="/capture">&laquo; Back to capture</a>
                <h3>
                        <%= @image.name %>
                </h3>
        </div>

        <div data-role="content" style="padding: 15px">
                <img id="image" style="width:100%" src="<%= @image.photo.url(:large) %>" />
	</div>
</div>
