/**
 * Popup
 */

.dsq-overlay {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5000;
    background-color:#000;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.dsq-overlay[id] {
    position:fixed;
}

.dsq-popup h4,
.dsq-popup ul,
.dsq-popup li,
.dsq-popup ol,
.dsq-popup div,
.dsq-popup table,
.dsq-popup td,
.dsq-popup th,
.dsq-popup p,
.dsq-popup a,
.dsq-popup cite,
.dsq-popup img {
    border: 0;
    padding: 0;
    margin: 0;
    float: none;
    text-indent: 0;
    background: none;
}

.dsq-popup h1,h2,h3,h4 {
    position: static;
}

.dsq-popup table {
    border-collapse: separate;
    border-spacing: 0;
}

.dsq-popup {
    font-size: 13px;
    color: #333;
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 0;
    border: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.dsq-popup p {
    margin-bottom: 8px;
}

.dsq-popup[id] {
    position: fixed;
}

.dsq-popup img {
    max-width: none;
}

.dsq-popup ul,
.dsq-popup li,
.dsq-popup ol {
    list-style-type: none;
    list-style-image: none;
    background: none;
    display: block;
}

.dsq-popup li:before {
    content: "";
}

.dsq-popup p,
.dsq-popup ul {
    color: #333;
    line-height: 1.22em;
}

.dsq-popup a {
    color: #1C5392;
}

.dsq-popup a:hover {
    color: #869AAD;
}

.dsq-popup .dsq-popup-top {
    position: relative;
    text-align: right;
    width: 520px;
    height: 20px;
    background: transparent url("../../images/embed/popup-top.png") no-repeat;
}

.dsq-popup .dsq-popup-top img {
    margin: 12px 13px 0 0;
    *margin: 12px 13px 0 0;
}

.dsq-popup .dsq-popup-bottom {
    text-align: right;
    width: 520px;
    height: 20px;
    background: transparent url("../../images/embed/popup-bottom.png") no-repeat;
}

.dsq-popup .powered-by{
    font-size: 90%;
    text-align: right;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.dsq-popup .dsq-popup-body div.powered-by a {
    color: #888;
    text-decoration:none;
}

.dsq-popup  .dsq-popup-body {
    width: 520px;
    background: transparent url("../../images/embed/popup-body.png") repeat-y;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link {
    color: #7aa5d5;
    position: absolute;
    top: -8px;
    right: 5px;
    text-decoration: none;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link img {
    width: 23px;
    height: 24px;
    border: 0;
}

.dsq-popup .dsq-subscribe-submit {
    margin: 0 auto;
    padding: 0 10px;
    color: #222;
}

.dsq-popup .dsq-subscribe-submit input {
    font-size: 110%;
    width: 200px;
}

.dsq-popup p.dsq-popup-notice {
    padding: 5px;
    margin: 20px 0 0 0;
    background-color: #fdf1d0;
    border: 1px solid #fad163;
}

/*
 * Popup : Profile
 */

.dsq-popup-profile .dsq-popup-content {
    width: 500px;
}

.dsq-popup-profile .dsq-popup-title {
    _height: 1%;
    overflow: auto;
}

.dsq-popup-profile .dsq-popup-title td {
    vertical-align: top;
}

.dsq-popup-profile .dsq-popup-title img.dsq-popup-profile-avatar {
    width: 48px;
    height: 48px;
}

.dsq-popup-profile .dsq-popup-profile-user {
    padding: 0 10px;
}

.dsq-popup-profile .dsq-popup-profile-user h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.dsq-popup-profile .dsq-popup-profile-user-stats span {
    margin-right: 10px;
}

.dsq-popup-profile .dsq-popup-profile-user-stats big {
    font-weight: bold;
    font-size: 16px;
}

.dsq-popup-profile .dsq-popup-profile-state {
    clear: both;
    padding: 15px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aaa;
    height: auto;
    overflow: hidden;
    margin: -10px -10px 0px;
    border-bottom: 1px solid #B2B2B2;
}

.dsq-popup-profile .dsq-popup-profile-status {
    padding: 10px;
    margin: 0 -10px 0;
    background-color: #EEF9FD;
    border-bottom: 1px solid #9FCDE3;
}

.dsq-popup-profile .dsq-popup-profile-snapshot {
    padding: 15px 0;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table {
    width: 100%;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td {
    width: 50%;
    vertical-align: top;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td h4 {
    margin-bottom: 5px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul {
    margin-bottom: 15px;
    max-height: 200px;
    overflow: auto;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul img {
    vertical-align: text-top;
    margin-right: 5px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul li {
    margin-bottom: 5px;
}

.dsq-popup-profile .dsq-popup-profile-snapshot table td ul li a {
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
}

.dsq-popup .dsq-popup-body div.show-more {
    padding-left: 10px;
    font-size: 95%;
    color:#7aa5d5;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding {
    padding: 0 10px;
    font-size: 13px;
}

.dsq-popup .dsq-popup-body .dsq-popup-header {
    background-color: #e5ebed;
    padding: 0 10px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #445460;
}

.dsq-popup .dsq-popup-body .dsq-popup-header img {
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite {
    margin-left: 5px;
    font-style: normal;
    vertical-align: middle;
}

.dsq-popup .dsq-popup .dsq-popup-body .dsq-popup-body-padding cite {
    position: static;
    margin: 0;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite span {
    font-weight: bold;
    font-size: 150%;
    font-style: normal;
    margin-right: 10px;
    vertical-align: middle;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding .dsq-popuplink {
    margin: 0 0 0 5px;
    font-size: 90%;
}

.dsq-popup .dsq-clout {
    float: left;
    width: 72px;
    height: 32px;
    line-height: 32px;
    background: url("../../images/embed/clout-background.png") no-repeat top left;
}

.dsq-popup .dsq-clout.unverified {
    background: url("../../images/embed/unverified-background.png") no-repeat top left;
    line-height: 24px;
}

.dsq-popup .dsq-clout a{
    float: left;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.dsq-popup .dsq-clout.unverified a{
    font-size: 11px;
    font-weight: normal;
}

.dsq-popup .dsq-clout a:hover {
    color: #fff;
}

.dsq-popup .dsq-profile-services {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aaa;
    height: auto;
    overflow: hidden;
}

.dsq-popup .dsq-profile-services .dsq-profile-userlvl {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.dsq-popup .dsq-profile-services span.dsq-profile-ontheweb {
    float: left;
    font-family: Trebuchet MS, Trebuchet, Verdana, sans-serif;
    font-size: 95%;
    color: #aaa;
}

.dsq-popup .dsq-profile-services ul {
    margin-left: 15px;
    display: inline;
}

.dsq-popup .dsq-profile-services ul li {
    display: inline;
    margin-right: 15px;
}

.dsq-popup .dsq-profile-services ul li.dsq-service-labeltxt {
    margin: 0;
}

.dsq-popup .dsq-profile-services span.dsq-services-description {
    font-size: 85%;
    color: #555;
    position: absolute;
    top: 25px;
    left: 5px;
    display: none;
    white-space: nowrap;
}

.dsq-popup .dsq-profile-services img {
    border:2px solid #fff;
}

.dsq-popup a.dsq-profile-follow {
    color:#7aa5d5;
}

.dsq-popup .dsq-profile-status,
.dsq-popup .dsq-profile-recentcomments {
    clear: both;
    padding: 10px;
}

.dsq-popup .dsq-profile-status p,
.dsq-popup .dsq-profile-recentcomments p{
    padding: 0;
}

.dsq-popup .dsq-profile-status h4,
.dsq-popup .dsq-profile-recentcomments h4 {
    font-size: 110%;
    border-bottom: 2px solid #D7DBDD;
    margin-bottom: 10px;
}

.dsq-popup .dsq-profile-status h4 span,
.dsq-popup .dsq-profile-recentcomments h4 span {
    background-color: #D7DBDD;
    padding: 2px 5px;
    color: #555;
    font-weight: bold;
}

.dsq-popup p.dsq-profile-label {
    font-family: Trebuchet MS, Trebuchet, Verdana, sans-serif;
    font-size: 95%;
    color: #aaa;
}

.dsq-popup ul.dsq-profile-commentlist {
    margin-top: 10px;
}

.dsq-popup .dsq-profile-commentlist li{
    padding: 5px 0;
    border-bottom: 2px solid #e9ebed;
}

.dsq-popup .dsq-profile-commentlist li img.avatar-small {
    width: 24px;
    height: 24px;
    border: 1px solid #DDD;
    float: left;
}

.dsq-popup .dsq-profile-commentlist li .comment-message {
    margin-left: 30px !important;
    *float: left !important;
    *margin-left: 5px !important;
}

.dsq-popup .dsq-profile-commentlist li span.comment-meta {
    clear: both !important;
    margin-left: 30px !important;
    display: block !important;
    font-size: 90% !important;
    background: none !important;
    float: none !important;
    width: auto !important;
}

.dsq-popup .dsq-profile-commentlist span{
    color: #666;
    font-size: 95%;
}

/**
 * New popup
 */

.dsq-popup .dsq-popup-container {
    position: relative;
}

.dsq-popup-container .dsq-popup-b {
    background:url("../../images/facebox/b.png");
}

.dsq-popup-container .dsq-popup-tl {
    background:url("../../images/facebox/tl.png");
}

.dsq-popup-container .dsq-popup-tr {
    background:url("../../images/facebox/tr.png");
}

.dsq-popup-container .dsq-popup-bl {
    background:url("../../images/facebox/bl.png");
}

.dsq-popup-container .dsq-popup-br {
    background:url("../../images/facebox/br.png");
}

.dsq-popup-container table {
    border-collapse: collapse;
}

.dsq-popup-container td {
    border-bottom: 0;
    padding: 0;
}

.dsq-popup-container .dsq-popup-body {
    padding: 10px;
    background: #fff;
    width: 370px;
}

.dsq-popup-container .dsq-popup-tl, .dsq-popup-container .dsq-popup-tr, .dsq-popup-container .dsq-popup-bl, .dsq-popup-container .dsq-popup-br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0;
}

.dsq-popup-container div.dsq-popup-title {
    position: static;
    text-align: left;
    height: auto;
    width: auto;
    margin: -10px -10px 10px;
    padding: 10px;
    
    background: #555; 
   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#323232'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#323232)); 
    background: -moz-linear-gradient(top,  #777,  #323232);
   
    border-bottom: 1px solid #000;
    overflow: hidden;
}

.dsq-popup-container .dsq-popup-title button {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.dsq-popup-container .dsq-popup-title img {
    margin: 0;
}

.dsq-popup-container .dsq-popup-title h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 1px 3px #333;
}

.dsq-popup-container h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

/* Tabbed Login Popup */

/* Reset */

.dsq-popup h1, .dsq-popup h2, .dsq-popup h3, .dsq-popup p {
    margin: 0  !important;
    font-family: Arial, Helvetica, sans-serif  !important;
    padding: 0 !important;
}

.dsq-popup .dsq-tabbed-modal {
    overflow: hidden;
    border: 1px solid #ddd;
    background: url(../../images/dsq-login-tabs-bg.jpg) repeat-y;
}

* html .dsq-popup .dsq-tabbed-modal {
    height: 1%; /* forces hasLayout in IE6 */
}

.dsq-login-box .dsq-popup-body {
    width: 546px;
}

.dsq-popup .dsq-modal-tabs {
    float: left;
    width: 148px;
    padding: 0 0 20px 0;
    
}

* html .dsq-popup .dsq-modal-tabs, * html .dsq-popup .dsq-tab-container {
    display: inline; /* Fix IE box model */
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li {
    margin: 0;
    padding: 0;
    border: 0;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li a {
    display: block;
    border-bottom: 1px dotted #bbb;
    padding: 14px 12px;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #999;
    text-shadow: 0 1px 0 #fff;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li a:hover {
    background: url(../../images/dsq-login-tabs-bg-hover.jpg) repeat-y;
    color: #E5EBED;
    text-shadow: 0 -1px 0 #333;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li.last a {
    border-bottom: none;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li.dsq-active a{
    background: #fff;
    color: #666;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li.dsq-active a:hover {
    text-shadow: none;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li a span {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin: 0 7px 0 0;
}

#dsq-popup-message #dsq-login-disqus iframe {
    height: 340px;
    width: 300px;
}


#dsq-login-tab-guest span {
    background: url(../../images/social-icons/guest.png);
}

#dsq-login-tab-disqus span {
    background: url(../../images/social-icons/disqus.png);
}

#dsq-login-tab-twitter span {
    background: url(../../images/social-icons/twitter.png);
}

#dsq-login-tab-facebook span {
    background: url(../../images/social-icons/facebook.png);
}

#dsq-login-tab-yahoo span {
    background: url(../../images/social-icons/yahoo.png);
}

#dsq-login-tab-sso span {
    background: url(http://newser.com/favicon.ico);
}

#dsq-login-tab-openid span {
    background: url(../../images/social-icons/openid.png);
}

.dsq-popup .dsq-tab-container {
    float: left;
    width: 336px;
    padding: 25px 0 25px 30px;
    font-size: 14px;
}

#dsq-popup-message.dsq-popup .powered-by {
    border-top: 0;
    padding: 0 0 5px 0;
}

/* hidden by default */
.dsq-tab-content {
    height: 100%;
    display:none;
}

.dsq-tab-content small {
    font-size: 11px;
}

/*
 * Raw popup (used for profile modals) has no padding or header/footer
 */
.dsq-popup-raw .powered-by { display: none; }
.dsq-popup-raw .dsq-popup-title { display: none; }
.dsq-popup-raw .dsq-popup-body { padding: 0 !important; }
.dsq-popup-raw .dsq-border {
    border: 8px solid #bbb;
    border: 8px solid rgba(0,0,0,.38);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
/*    background: #fff;*/
}
.dsq-popup-raw .dsq-popup-raw-container {
    background: url('../../images/loading.gif') center center no-repeat #fff;
    width: 100%;
    height: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden; /* no scrollbars */
}
.dsq-popup-raw iframe {
    overflow-y: hidden;
    background: transparent;
}

/* ----------------------------------- Profile Modal ----------------------------------- */

#dsq-profile-modal {
    width: 650px;
    height: 420px;
}

.dsq-popup #dsq-profile-modal .dsq-tab-container {
    width: 452px;
}

.dsq-popup-raw .dsq-modal-close-btn {
    display: block;
    position: absolute;
    background: url(../../images/embed/profile/close-btn.png);
    width: 18px;
    height: 18px;
    z-index: 99999;
    right: 25px;
    top: 28px;
    text-indent: -9999em;
}

/* Buttons */

button::-moz-focus-inner { border: 0; }

button.dsq-button,
button.dsq-button-small {
    color: inherit;
    border: 1px solid #999;
    margin: 0;
    #margin: 0 3px;
    font-family: Arial, Helvetica, Calibri, sans-serif;
    overflow: visible;
    background: transparent url('../../images/themes/narcissus/button-large.png') repeat-x bottom left;
    _background-image: url('../../images/themes/narcissus/button-large.png');
}

button.dsq-button {
    padding: 6px 8px 6px;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
button.dsq-button-small {
    padding: 2px 4px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

button.dsq-button-small:disabled, button.dsq-disabled-btn {
    opacity: .5;
    cursor: default !important;
}

button.dsq-button:hover,
button.dsq-button-small:hover {
    cursor: pointer;
}

button.dsq-button:active, button.dsq-button.dsq-toggled {
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#999999'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #666,  #999); /* for firefox 3.6+ */
    color: #fff;
    border: 1px solid #555;
    text-shadow: 0 1px 0 #666;
}

/**
 * Tooltips
 */


.dsq-tooltip-outer {
    padding: 0 0 19px;
    margin: 0 0 1em;
    background: url('../../images/tooltip-notch.png') 35px bottom no-repeat;
}

.dsq-tooltip {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    position:relative;
    padding:20px 0 0;
    color:#fff;
    background:#666; /* default background for browsers without gradient support */
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    /* NOTE: webkit gradient implementation is not as per spec */
    background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
    background:-moz-linear-gradient(top, #555, #222);
    background:-o-linear-gradient(top, #555, #222);
    background:linear-gradient(top, #555, #222);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222');
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7);
    zoom: 1;
}

.dsq-tooltip a {
    font-weight: bold;
    color: #fff;
}

.dsq-tooltip-big .dsq-tooltip:after {
    content: "";
    position: absolute; 
    width: 98%;
    height: 30px;
    top: 0;
    left: 1%;    

    -webkit-border-radius:  0 0 15px 15px;
    background-image:       -webkit-gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.85) ), to( rgba(255,255,255,.5) ),
                    color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
    background-image:       -moz-linear-gradient(left, rgba(255,255,255,.85), rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,.5) );
    background-image:       gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.85) ), to( rgba(255,255,255,.5) ),
                    color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
    opacity: .05;
}

.dsq-tooltip h3 {
    margin: 0 20px 16px;
    padding: 0;
    text-shadow: 0 -1px 0 #222;
}
.dsq-tooltip p {
    margin: 0 20px 0;
    padding: 0 0 16px;
    color: #ccc;
    text-shadow: 0 -1px 0 #222;
    display: block;
}

.dsq-tooltip ul {
    background: #222;
    border-top: 1px solid #444;
    -moz-border-radius:0 0 9px 9px;
    -webkit-border-radius:0 0 9px 9px;
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.9);
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.9);
    border-radius:0 0 9px 9px;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

.dsq-tooltip ul li {
    float: right;
    list-style-type: none;
    margin: 0 0 0 4px;
}

.dsq-tooltip ul li a {
    font-size: 13px;
    display: block;
}

.dsq-tooltip ul li a.dsq-primary-action {
    background: #ccc;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    text-shadow: 0 1px 0 #ddd;
    background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    background:-moz-linear-gradient(top, #ccc, #999);
    background:-o-linear-gradient(top, #ccc, #999);
    background:linear-gradient(top, #ccc, #999);
}

.dsq-tooltip ul li a.dsq-secondary-action {
    color: #ccc;
    padding: 4px 4px 0 0;
}

/* Small Tooltips */

.dsq-tooltip-small {
    padding: 0 0 10px;
    background-image: url('../../images/tooltip-notch.png');
    background-position: 15px bottom;
    background-repeat: no-repeat;
}

.dsq-tooltip-small .dsq-tooltip {
    padding: 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size: 11px;
}